{% extends 'Tour/base.html' %}
{% load static %}
{% block css %}
<style type="text/css">
	
div .wildlife_header{
  color: white;
  margin-top: 0px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-decoration: none;
  transform: translate(10px, 10px);
  transform: scale(1,1);
  text-align: center;
  background: linear-gradient(to right,#8FBC8F,#8FBC8F);

}
div .wildlife_header h1{
  font-style: italic;
  font-size: 50px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  text-decoration: none;
  font-weight: bolder;
  padding:30px 0px 0px;
}
div .wildlife_header h4{

}
div .wildlife_header p{
  text-align: center;
  font-size: 14px;
  padding: 0px 20px 20px;
  font-style: normal;
  font-weight: normal;
  color: black;

}
.row_heading{
  font-weight: bolder;
  color: black;

}
</style>
{% endblock %}
{% block content %}
<div class="wildlife_header " >
  <h1  >wildlife</h1>
  <h4 ></h4>
    <p>There is no natural world that can be more serene and bubbling with life than the world under sea. Marine parks in Kenya have been established at the Coastal Kenya to protect the rich aquatic life abound in the Kenyan waters. If underwater photography and underwater flora and fauna excites you, come to Coastal Kenya and enjoy your underwater paradise. From the Kisite Mpunguti Marine National Park in Kwale up to the Kiunga Marine National Reserve in Lamu, these protected waters thrive with pure marine life, which brings color to this underworld. </p>
         
</div>

	<div class="row mt-5 ">
    <div class="col-md-12 ">
      <h3 class="row_heading">Game parks</h3>
    </div>
    {% for w in wildlife %}
		<div class="col-md-3 mb-2">
      <div class="hoverimage">
      <img src="{{ w.site_image}}" alt="image" class="image">
      <div class="overlay">
        <div class="text">{{ w.name }}<br><span style="color: red;"><i class="fa fa-tint fa-rotate-180 "></i></span>{{w.location }}</div><br>


       </div>
    </div>  
		</div>
    {% endfor %}
		
  

</div>
<div class="row mt-5">
    <div class="col-md-12">
      <h3 class="row_heading">marine parks</h3>
    </div>
    {% for m in marine %}
    <div class="col-md-3 mb-2">
      <div class="hoverimage">
      <img src="{{ m.site_image}}" alt="image" class="image">
      <div class="overlay">
        <div class="text">{{ m.name }}<br><span style="color: red;"><i class="fa fa-tint fa-rotate-180 "></i></span>{{m.location }}</div><br>


       </div>
    </div>  
    </div>
    {% endfor %}
    
  

</div>
<div class="row mt-5">
    <div class="col-md-12">
      <h3 class="row_heading">Museums and rock art</h3>
    </div>
    {% for s in museums %}
    <div class="col-md-3 mb-2">
      <div class="hoverimage">
      <img src="{{ s.site_image}}" alt="image" class="image">
      <div class="overlay">
        <div class="text">{{ s.name }}<br><span style="color: red;"><i class="fa fa-tint fa-rotate-180 "></i></span>{{s.location }}</div><br>


       </div>
    </div>  
    </div>
    {% endfor %}
    
  

		
	</div>


{% endblock %}
{% block js %}

{% endblock %}